@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");
:root{
    --heading: #231f20;
    --reddish-color: #e60023
}
body {
  max-width: 1440px;
  margin: auto;
}
.top__header {
  height: 60px;
  background: #000;
  display: flex;
  align-items: center;
}

.search__bar input {
  width: 628px;
  height: 40px;

  margin: 10px 0px;
  margin-left: 400px;
  padding: 0px 20px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #797979;
}

.search__bar input::placeholder {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 131.023%; /* 18.343px */
}

.search__icon {
  width: 40px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 0px 30px 30px 0px;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 13px;
  right: 3px;
}
.avatar__container {
  border-radius: 32px;
  border: 1px solid #fff;
  width: 150px;
  height: 32px;
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.profile__image__container {
  height: 21px;
  width: 21px;
  margin: 5px 0px 5px 5px;
  border-radius: 10.5px;
  border: 0.5px solid #fff;
}

.profile__image__container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: inherit;
}
.avatar__container p {
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  margin-left: 3px;
}

.nav__links__container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.nav__links__container li a {
  display: block;
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--heading, #231f20);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.nav__links__container li button {
  width: 150px;
  height: 35px;
  border-radius: 32px;
  color: #fff;
  border: 1px solid #f10027;
  background: var(--reddish-color, #e60023); 
}


/* hero */

.hero{
    height: 663px; 
    background: var(--reddish-color);
}

.hero__bg{
    position: absolute;
    right: 0;
}
.hero__img{
    position: absolute;
    z-index: 2;
    right: 0;
}